html,body{
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    gap:20px;
}

.container1{
    background-color:  #000000;
    color: lightgray;
    width: 100%;
    height: 10%;
    padding-left: 40px;
}

.container1 p{
    font-size: 24px;
}

.header {
    height: 10%;
    display: flex;
    align-items: center;  
    padding-left: 160px; 
}
.header p {
    font-size: 30px; 
    font-weight: normal;
    margin: 0; 
}

.buttons{
    height: 30px;
    display:flex;
    gap: 60px;
    justify-content: center;
}
.button1{
    width: 40%;
    border-radius: 10px;
    border: 1px solid gray;
}
.button2{
    background-color: cornflowerblue;
    color: white;
    width: 8%;
    border-radius: 10px;
    border: none;
}
.button2:hover{
    background-color:#4A7AD0;
}

.container2{
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 20px;
    gap: 5px;
}
.block{
    height: 60px;
    width: 60%;
    border: 1px solid gray;
    border-radius: 12px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}
.block span{
    flex-grow: 1;
}
.block button{
    background-color:#e53e3e;
    color: whitesmoke;
    border-radius: 6px;
    border: none;
}
.block button:hover{
    background-color: darkred;
}
