body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.header h1 {
  margin: 0 0 10px 0;
}

.categories button {
  margin: 0 5px;
  padding: 10px 15px;
  background-color: white;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.categories button:hover {
  background-color: #e6e6e6;
}
.categories button.active {
  background-color:#e6e6e6 ;
  font-weight: bold;
}
