.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
}
.card:hover{
  background-color: #ddd;
}

.main-img {
  width: 100%;
  border-radius: 10px;
  max-height: 300px;
}

.thumbnails img {
  width: 50px;
  height: 50px;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
}

.thumbnails img.active {
  border: 2px solid #007bff;
}

.price {
  font-weight: bold;
  color: green;
}

.actions button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
a{
  color:black;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.share{
  gap:8px;
  display: flex;
}
.share img{
  width: 20px;
}